# Node
**/node_modules/
**/dist/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.env
.env.local

# Next.js
**/.next/
**/out/

# Prisma
**/prisma/*.db

# Flutter (예정)
**/build/
.dart_tool/

# macOS
.DS_Store
